.FinishedQuiz {
    padding: 20px;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 5px;
    box-sizing: border-box;
    margin: 0 10px;
}

.FinishedQuiz ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.FinishedQuiz ul li i{
    margin-left: 10px;
}

.fa-check {
    color: rgba(0,255, 0, .5) !important;
}

.fa-times {
    color: rgba(255,0, 0, .5) !important;
}